# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [887]:
# Check
lesser_of_two_evens(10,20)

10

In [886]:
# Check
lesser_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [891]:
def animal_crackers(text):
    if text.lower().split()[0][0] == text.lower().split()[1][0]:
        return True
    else:
        return False

In [892]:
# Check
animal_crackers('Levelheaded Llama')

True

In [893]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [59]:
def makes_twenty(n1,n2):
    if (n1 or n2) == 20 or sum([n1,n2]) == 20:
        return True
    else:
        return False

In [60]:
# Check
makes_twenty(20,10)

True

In [61]:
# Check
makes_twenty(2,3)

False

In [62]:
# Check
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [79]:
def old_macdonald(name):
    return ''.join(name[0].upper() + name[1:3] + name[3].upper() + name[4:])

In [86]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [894]:
# Another Solution
def old_macdonald(name):
    new_name = []
    for letter in range(len(name)):
        if letter == 0 or letter == 3:
            new_name.append(name[letter].upper())
        else:
            new_name.append(name[letter])

    new_name[::] = [''.join(new_name[::])]
    return new_name[0]

In [898]:
def old_macdonald(name):
    f_half = name[:3]
    s_half = name[3:]
    
    return f_half.capitalize() + s_half.capitalize()

In [899]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [135]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [136]:
# Check
master_yoda('I am home')

'home am I'

In [137]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [900]:
def almost_there(n):
    if (abs(100-n) <= 10) or (abs(200-n) <= 10):
        return True
    else:
        return False

In [901]:
# Check
almost_there(104)

True

In [902]:
# Check
almost_there(150)

False

In [903]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [904]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        else:
            continue
    return False

In [916]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
        else:
            continue
    return False

In [917]:
# Check
has_33([1, 3, 3])

True

In [918]:
# Check
has_33([1, 3, 1, 3])

False

In [919]:
# Check
has_33([3, 1, 3])

False

In [920]:
# Check
has_33([3, 3, 1, 3])

True

In [921]:
# Check
has_33([3, 1, 3, 'c', 3, 4, 'a', 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [206]:
def paper_doll(text):
    
    new_list = []
    
    for i in text:
        i = i+i+i
        new_list.append(i)
    
    return ''.join(new_list)

In [928]:
def paper_doll(text):
    return ''.join([text[i]*3 for i in range(len(text))])

In [925]:
def paper_doll(text):
    new_list = ''
    
    for i in text:
        new_list += i*3
    
    return new_list

In [929]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [927]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [268]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif sum([a,b,c]) > 21 and 11 in [a,b,c]:
        return sum([a,b,c,-10])
    else:
        return 'BUST'

In [269]:
# Check
blackjack(5,6,7)

18

In [270]:
# Check
blackjack(9,9,9)

'BUST'

In [271]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [948]:
'''
WRONG SOLUTION:
def summer_69(arr):
    if 6 in arr or 9 in arr:
        indexes = []
        count_6 = 0
        for i,l in enumerate(arr):
            if l == 6 or l == 9:
                indexes.append(i)
        return sum(arr) - sum(arr[indexes[0]:(indexes[1]+1)])
    else:
        return sum(arr)
    
    return 0
'''

'\nWRONG SOLUTION:\ndef summer_69(arr):\n    if 6 in arr or 9 in arr:\n        indexes = []\n        count_6 = 0\n        for i,l in enumerate(arr):\n            if l == 6 or l == 9:\n                indexes.append(i)\n        return sum(arr) - sum(arr[indexes[0]:(indexes[1]+1)])\n    else:\n        return sum(arr)\n    \n    return 0\n'

In [949]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [950]:
# Check
summer_69([1, 3, 5])

9

In [951]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [952]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [953]:
# Check
summer_69([2, 1, 6, 9, 11, 11, 6, 1, 2, 3, 4, 9, 5, 9, 1, 6, 7,8, 99])

40

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [603]:
''' WRONG SOLUTION
def spy_game(nums):
    list_007 = []
    for i in range(len(nums)):
        if abs(len(nums)-i) == 2:
            break
        if nums[i] == 0 and nums[i+1] == 0 and nums[i+2] == 7:
            return True
        else:
            continue
    return False
'''

In [954]:
def spy_game(nums):
    
    code = [0, 0, 7, 'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    
    return len(code)==1

In [955]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [956]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [957]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [959]:
# Check
spy_game([1,7,2,0,4,5,0,0,1,7])

True

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [881]:
def count_primes(num):
    list_num = [i for i in range(num+1)]
    list_prime = []
    
    for num in list_num:
        
        list_prime.append(num)
        
        if num < 2:
            list_prime.remove(num)
            continue
        elif num == 2:
            continue
        elif num%2 == 0:
            list_prime.remove(num)
            continue
        
        for x in range(2,num):
            if num%x == 0:
                list_prime.remove(num)
                break
                
    return len(list_prime)

In [960]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!