In [1]:
import pandas as pd

In [2]:
pwd

'D:\\Users\\bruno\\Documents\\Coding\\Python\\data_science_bootcamp\\#bruno_files'

In [ ]:
pd.read_csv('.... .csv')

In [ ]:
df = pd.read_csv('example.csv')

In [ ]:
df.to_csv('MyOutput.csv',index=False)
# Don't want to save index as column

In [7]:
# Pandas can read excel, but can't import macros or formulas

In [ ]:
pd.read_excel('Excel_sample.xlsx', sheetname='Sheet1')

In [ ]:
df.to_excel('Excel_sample2.xlsx', sheet_name='Sheet_name')

# READ HTML

In [8]:
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [12]:
type(data)

list

In [19]:
df = data[0].head()

In [20]:
df

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 21, 2018"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"

# READ SQL

In [15]:
# Let's create a SQL engine

In [16]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('sqlite:///:memory:')

In [18]:
engine

Engine(sqlite:///:memory:)

In [21]:
df.to_sql('my_table',engine)

In [22]:
sqldf = pd.read_sql('my_table',con=engine)

In [23]:
sqldf

,index,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 21, 2018"
1,1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"