# Series

In [1]:
# Similar to a numpy array, but Series can have access labels

In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']

In [4]:
my_data = [10,20,30]

In [5]:
arr = np.array(my_data)

In [6]:
d = {'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
# Pandas Series can hold a variety of data types

In [15]:
pd.Series(data=labels, index=my_data)

10    a
20    b
30    c
dtype: object

In [16]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

# Using Indexes

In [17]:
# Grabing info from a series

In [18]:
ser1 = pd.Series([1,2,3,4], ['USA', 'GERMANY','ISRAEL','JAPAN'])

In [19]:
ser1

USA        1
GERMANY    2
ISRAEL     3
JAPAN      4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4], index=['USA', 'GERMANY','ITALY', 'JAPAN'])

In [21]:
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [22]:
ser1['USA']

1

In [24]:
ser3 = pd.Series(data=labels)

In [25]:
ser3

0    a
1    b
2    c
dtype: object

In [26]:
ser3[0]

'a'

In [27]:
ser1 + ser2

GERMANY    4.0
ISRAEL     NaN
ITALY      NaN
JAPAN      8.0
USA        2.0
dtype: float64

In [28]:
ser1 / ser2

GERMANY    1.0
ISRAEL     NaN
ITALY      NaN
JAPAN      1.0
USA        1.0
dtype: float64