In [1]:
#How to quickly create a list in Python

In [2]:
mystring = 'hello'

In [3]:
mylist = []
for letter in mystring:
    mylist.append(letter)
    
#this is bad and not efficient

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mystring = "Let's see if it works"
mylist = [l for l in mystring]

In [17]:
mylist[:10]

['L', 'e', 't', "'", 's', ' ', 's', 'e', 'e', ' ']

In [26]:
num_list = [x**x for x in range(0,12)]

In [27]:
num_list

[1,
 1,
 4,
 27,
 256,
 3125,
 46656,
 823543,
 16777216,
 387420489,
 10000000000,
 285311670611]

In [28]:
num_list = [x**x for x in range(0,12) if x%2 ==0]

In [29]:
num_list

[1, 4, 256, 46656, 16777216, 10000000000]

In [32]:
celcius = [0,10,20,34.5]
farenheit = [((9/5)*temp + 32) for temp in celcius]

In [33]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [34]:
random_list = [x for x in range(0,100)]
conversion_list = [(3*k+1)**2 for k in random_list]

In [39]:
conversion_list[:15:2]

[1, 49, 169, 361, 625, 961, 1369, 1849]

## IF ELSE inside list comprehensions

In [40]:
results = [x if x%2 ==0 else 'ODD' for x in range(0,11)]

In [41]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

## NESTED LOOPS

In [44]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [45]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [46]:
#WITH LIST COMPREHENSION
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [47]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [54]:
conversion_list = [((9/5)*c + 32) for c in [0, 10, 20, 34.5]]

In [55]:
conversion_list

[32.0, 50.0, 68.0, 94.1]

In [62]:
another_test = [x + (m**b) for m in [2,4,6,8] for x in [2,3,4,5] for b in [0.5, 2]]

In [58]:
another_test

[0.8999999999999999,
 0.5,
 0.39999999999999997,
 1.2,
 0.7999999999999999,
 0.7,
 1.5,
 1.0999999999999999,
 1.0,
 1.8,
 1.4,
 1.3,
 1.1,
 0.7000000000000001,
 0.6000000000000001,
 1.5000000000000002,
 1.1,
 1.0000000000000002,
 1.9000000000000001,
 1.5,
 1.4000000000000001,
 2.3,
 1.9,
 1.8,
 1.3,
 0.9,
 0.8,
 1.8,
 1.4,
 1.3,
 2.3,
 1.9,
 1.8,
 2.8,
 2.4,
 2.3]