In [9]:
# First let's talk about map and filter

# MAP Functions

In [10]:
# Map expects function, let's create one
def square(num):
    return num**2

In [11]:
my_nums = [1,2,3,4,5]

In [12]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [13]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [23]:
# Let's try one with strings
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [24]:
names = ['Bruno', 'Jose', 'Raquel', 'Cristina', 'Bru']

In [26]:
list(map(splicer, names))
# Notice the function doesn't have open and closed parenthesis. Map itself executes / Calls the function!

['B', 'EVEN', 'EVEN', 'EVEN', 'B']

# Filter Functions

In [28]:
# Filter function that returns either true or false

def check_even(num):
    return num%2 == 0

In [31]:
mynums = [1,2,3,4,5,6]

In [33]:
list(filter(check_even,mynums))

[2, 4, 6]

In [36]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

# LAMBDA Expression

In [37]:
def square(num): return num**2

In [38]:
square(2)

4

In [44]:
# Lambda expressions is anonymous function as you only need one time
lambda num: num ** 2

In [47]:
# Now we mix map with lambda
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [49]:
list(filter(lambda num: num%2 ==0, mynums))

[2, 4, 6]

In [54]:
list(map(lambda name: name[::-1].lower(), names))

['onurb', 'esoj', 'leuqar', 'anitsirc', 'urb']

In [1]:
mylist = ["A", "B", "X", "D", "D", "E"]

In [3]:
import pandas as pd

In [12]:
s = pd.Series(["a","b","c","a"], dtype="category")
s.head()

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a, b, c]

In [13]:
s.replace(list(s.unique()), "X",inplace=True)

In [14]:
s.head()

0    X
1    X
2    X
3    X
dtype: object

In [18]:
df = pd.DataFrame({'alphabetic': ['C', 'D', 'E', 'E', 'A', 'R', 'C']})

df.alphabetic.astype("category").cat.codes

0    1
1    2
2    3
3    3
4    0
5    4
6    1
dtype: int8

In [20]:
df.alphabetic.unique()

array(['C', 'D', 'E', 'A', 'R'], dtype=object)

In [26]:
list(df.alphabetic.astype("category").cat.codes)

[1, 2, 3, 3, 0, 4, 1]

In [27]:
pd.get_dummies(df, columns=['alphabetic'])

   alphabetic_A  alphabetic_C  alphabetic_D  alphabetic_E  alphabetic_R
0             0             1             0             0             0
1             0             0             1             0             0
2             0             0             0             1             0
3             0             0             0             1             0
4             1             0             0             0             0
5             0             0             0             0             1
6             0             1             0             0             0